<ion-list class="d-flex flex-column align-items-stretch">
    <ion-item *ngFor="let todo of todos">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div>
                Todo Name
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <p>Details about the task</p>
          <div class="d-flex flex-column align-items-start">
            <button mat-button [routerLink]="['/todos/details']">Edit task</button>
            <button mat-button>Delete</button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </ion-item>
</ion-list>

<ion-fab 
  shape="round"
  vertical="bottom" 
  horizontal="end"
  slot="fixed">
    <ion-fab-button (click)="generateModal()">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
</ion-fab>
